body {
  margin: 0;
  background-color: #161616;
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 40px 500px;
  grid-template-areas:
    "toolbar toolbar toolbar"
    "tools canvas canvas"
    "tools canvas canvas"
}
